
<input type="text" id="savedEmail" readonly>
<br>
<input type="text" id="nameTextBox">
<button type="button" id="helloo" onclick="sendName()">Click Me!</button>

<iframe src="https://www.w3schools.com" style="height:1px;width:1px;" onload="func2()"></iframe>
<h1>Enter your name</h1>
