@{
    ViewBag.Title = "UploadFile";
}
<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}
<div class="text-center">
   <h2>
      <a onclick="ajaxChat()">on first load</a>
      <a onclick="ajax()">load new msg</a>
      <a onclick="xml()">read xml</a>
   </h2>
</div>
<p id="chatArea"></p>
